<div class="jumbotron jumbotron-fluid bg-dark text-light mb-0">
	<div class="container d-sm-none d-md-block d-none" >
		<div class="row">
			<div class="col-md-10">
				<div class="row">
					<div class="col-md-3">
						<h5 class="text-white mb-md-3">产品</h5>
						<ul class="list-unstyled">
							<li class="pt-md-3">机器特点</li>	
							<li class="pt-md-3">多功能综合机</li>	
							<li class="pt-md-3">万能机</li>		
						</ul>
					</div>
					<div class="col-md-3">
						<h5 class="text-white mb-md-3">解决方案</h5>
						<ul class="list-unstyled">
							<li class="pt-md-3">核心技术</li>	
							<li class="pt-md-3">Linux开源系统</li>	
							<li class="pt-md-3">一站式自主研发系统</li>		
							<li class="pt-md-3">可视化后台管理系统</li>		
							<li class="pt-md-3">大数据中心</li>		
							<li class="pt-md-3">一站式解决方案</li>		
							<li class="pt-md-3">个性化精准营销</li>		
						</ul>
					</div>
					<div class="col-md-3">
						<h5 class="text-white mb-md-3">我们的服务</h5>
						<ul class="list-unstyled">
							<li class="pt-md-3">专业定制</li>	
							<li class="pt-md-3">软件系统定制</li>	
							<li class="pt-md-3">模块定制</li>		
							<li class="pt-md-3">商业模式</li>		
							<li class="pt-md-3">渠道对接</li>		
							<li class="pt-md-3">技术支持</li>		
							<li class="pt-md-3">售后服务</li>		
						</ul>
					</div>
					<div class="col-md-3">
						<h5 class="text-white mb-md-3">联系我们</h5>
						<ul class="list-unstyled">
							<li class="pt-md-3">电话 : 86-0756-6893280</li>
							<li class="pt-md-3">地址 : 珠海市高新区唐家湾镇科技三路33号1号厂房1栋1楼</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-2 text-center">
				<img src="img/er_wei_ma.jpg" alt="" class="img-fluid"><br>
				利保微信公众号
			</div>
		</div>
		
	</div>
	<div class="container d-block d-md-none ">
		<div class="row justify-content-between align-items-center">
			<div class="col-12 col-sm-4 text-center">
				<img src="img/er_wei_ma.jpg" alt=""  class="align-middle img-fluid">
			</div>
			<div class="col-12 col-sm-8">
				<h5 class="pt-2 pb-2 mb-0">全国热线:400-900-7136</h5>
				<h5 class="pt-2 pb-2 mb-0">电话:86-0756-6893280</h5>
				<h5 class="pt-2 pb-2 mb-0">地址:珠海市高新区科技三路33号</h5>
			</div>
		</div>	
	</div>
	<div class="border border-secondary mt-md-5 mt-3"></div>
	<h5 class="text-muted text-center pt-md-3">
		Copyright DataGrand Tech Inc. All Rights Reserved. 粤ICP备140385
	</h5>
</div>

